# JWT Secret
JWT_SECRET=
JWT_EXPIRES_IN=

# Admin Credentials
ADM_PASS=
ADM_EMAIL=

# Banco de Dados
DATABASE_URL=postgresql://user:password@localhost:5434/mnemo?schema=public

# Docker
DB_USER=
DB_PASSWORD=
DB_NAME=