# JWT Secret
JWT_SECRET=
JWT_EXPIRES_IN=

# Admin Credentials
ADM_PASS=
ADM_EMAIL=
ADM_PHONE=

# Banco de Dados
DATABASE_URL=postgresql://user:password@localhost:5434/mnemo?schema=public

# Redis
REDIS_HOST=
REDIS_PORT=

# Docker
DB_USER=
DB_PASSWORD=
DB_NAME=